---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me/boards
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392670308176'
      Content-Type:
      - application/json
      Etag:
      - "\"-176890119\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"52e6e1d3e18c69a057a657fa\",\"name\":\"Cuke Add Board\",\"desc\":\"\",\"descData\":null,\"closed\":true,\"idOrganization\":null,\"invited\":false,\"pinned\":true,\"starred\":false,\"url\":\"<Trello
        URL>\",\"prefs\":{\"permissionLevel\":\"private\",\"voting\":\"disabled\",\"comments\":\"members\",\"invitations\":\"members\",\"selfJoin\":false,\"cardCovers\":true,\"cardAging\":\"regular\",\"background\":\"blue\",\"backgroundColor\":\"#23719F\",\"backgroundImage\":null,\"backgroundImageScaled\":null,\"backgroundTile\":false,\"backgroundBrightness\":\"unknown\",\"canBePublic\":true,\"canBeOrg\":true,\"canBePrivate\":true,\"canInvite\":true},\"invitations\":[],\"memberships\":[{\"id\":\"52e6e1d3e18c69a057a657fe\",\"idMember\":\"5195fdb5a8c01a2318004f5d\",\"memberType\":\"admin\",\"deactivated\":false,\"unconfirmed\":false}],\"shortLink\":\"<Trello
        URL>\",\"subscribed\":false,\"labelNames\":{\"red\":\"\",\"orange\":\"\",\"yellow\":\"\",\"green\":\"\",\"blue\":\"\",\"purple\":\"\"},\"powerUps\":[],\"dateLastActivity\":null,\"dateLastView\":\"2014-01-29T21:01:08.044Z\",\"shortUrl\":\"<Trello
        URL>\"}]"
  recorded_at: Mon, 17 Feb 2014 20:51:48 GMT
recorded_with: VCR 2.8.0
