---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729844619'
      Content-Type:
      - application/json
      Etag:
      - "\"-1309915436\""
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8e130a14a9d846001d96\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"bio\":\"\",\"bioData\":null,\"confirmed\":true,\"fullName\":\"Gavin
        Laking\",\"idPremOrgsAdmin\":[],\"initials\":\"GL\",\"memberType\":\"normal\",\"products\":[],\"status\":\"disconnected\",\"url\":\"<Trello
        URL>\",\"username\":\"gavinlaking1\",\"avatarSource\":\"gravatar\",\"email\":null,\"gravatarHash\":\"c9c47875936bed67032a12c047b468a8\",\"idBoards\":[\"526d8e130a14a9d846001d96\"],\"idOrganizations\":[],\"idOrganizationsInvited\":[],\"loginTypes\":null,\"newEmail\":null,\"oneTimeMessagesDismissed\":[],\"prefs\":{\"timezoneInfo\":{\"timezoneNext\":\"BST\",\"dateNext\":\"2014-03-30T01:00:00.000Z\",\"offsetNext\":-60,\"timezoneCurrent\":\"GMT\",\"offsetCurrent\":0},\"sendSummaries\":true,\"minutesBetweenSummaries\":60,\"minutesBeforeDeadlineToNotify\":1440,\"colorBlind\":false},\"trophies\":[\"Android\"],\"uploadedAvatarHash\":null,\"premiumFeatures\":[]}"
  recorded_at: Tue, 14 Jan 2014 20:04:03 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/gavinlaking1/boards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729845491'
      Content-Type:
      - application/json
      Etag:
      - "\"751663108\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"526d8e130a14a9d846001d96\",\"name\":\"My Test Board\",\"desc\":\"\",\"descData\":null,\"closed\":true,\"idOrganization\":null,\"invited\":false,\"pinned\":true,\"url\":\"<Trello
        URL>\",\"prefs\":{\"permissionLevel\":\"private\",\"voting\":\"disabled\",\"comments\":\"members\",\"invitations\":\"members\",\"selfJoin\":false,\"cardCovers\":true,\"cardAging\":\"regular\",\"background\":\"blue\",\"backgroundColor\":\"#205C7E\",\"backgroundImage\":null,\"backgroundImageScaled\":null,\"backgroundTile\":false,\"backgroundBrightness\":\"unknown\",\"canBePublic\":true,\"canBeOrg\":true,\"canBePrivate\":true,\"canInvite\":true},\"invitations\":[],\"memberships\":[{\"id\":\"52be0f11f6a939a72e011e6b\",\"idMember\":\"5195fdb5a8c01a2318004f5d\",\"memberType\":\"admin\",\"deactivated\":false,\"unconfirmed\":false}],\"shortLink\":\"<Trello
        URL>\",\"subscribed\":false,\"labelNames\":{\"red\":\"\",\"orange\":\"\",\"yellow\":\"\",\"green\":\"\",\"blue\":\"\",\"purple\":\"\"},\"powerUps\":[],\"dateLastActivity\":null,\"dateLastView\":\"2013-12-28T14:47:42.772Z\",\"shortUrl\":\"<Trello
        URL>\"}]"
  recorded_at: Tue, 14 Jan 2014 20:04:04 GMT
recorded_with: VCR 2.8.0
