---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d97/cards
    body:
      encoding: UTF-8
      string: filter=open
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392670987433'
      Content-Type:
      - application/json
      Etag:
      - "\"1458460108\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"52cb0eb873b2cf2f3a60a973\",\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-02-07T19:39:15.075Z\",\"desc\":\"A
        description to get us started.\",\"descData\":null,\"idBoard\":\"526d8e130a14a9d846001d96\",\"idList\":\"526d8e130a14a9d846001d97\",\"idMembersVoted\":[],\"idShort\":27,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"name\":\"My
        New Card\",\"pos\":606207,\"shortLink\":\"<Trello URL>\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":1,\"attachments\":0,\"description\":true,\"due\":null},\"due\":null,\"idChecklists\":[],\"idMembers\":[],\"labels\":[],\"shortUrl\":\"<Trello
        URL>\",\"subscribed\":false,\"url\":\"<Trello URL>\"}]"
  recorded_at: Mon, 17 Feb 2014 21:03:07 GMT
recorded_with: VCR 2.8.0
