---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729846231'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8e130a14a9d846001d96\",\"name\":\"Troo App\",\"desc\":\"\",\"descData\":null,\"closed\":false,\"idOrganization\":null,\"pinned\":true,\"url\":\"<Trello
        URL>\",\"shortUrl\":\"<Trello URL>\",\"prefs\":{\"permissionLevel\":\"private\",\"voting\":\"disabled\",\"comments\":\"members\",\"invitations\":\"members\",\"selfJoin\":false,\"cardCovers\":true,\"cardAging\":\"regular\",\"background\":\"blue\",\"backgroundColor\":\"#205C7E\",\"backgroundImage\":null,\"backgroundImageScaled\":null,\"backgroundTile\":false,\"backgroundBrightness\":\"unknown\",\"canBePublic\":true,\"canBeOrg\":true,\"canBePrivate\":true,\"canInvite\":true},\"labelNames\":{\"yellow\":\"Analysis
        Complete\",\"red\":\"\",\"purple\":\"\",\"orange\":\"\",\"green\":\"Ready
        to Pull\",\"blue\":\"\"}}"
  recorded_at: Tue, 14 Jan 2014 20:04:05 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729846875'
      Content-Type:
      - application/json
      Etag:
      - "\"1403214701\""
    body:
      encoding: UTF-8
      string: "[
        {\"id\":\"52cb0eb873b2cf2f3a60a973\",\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-01-06T20:14:48.590Z\",\"desc\":\"A description to get us started.\",\"descData\":null,\"idBoard\":\"526d8e130a14a9d846001d96\",\"idList\":\"526d8e130a14a9d846001d97\",\"idMembersVoted\":[],\"idShort\":27,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"name\":\"My New Card\",\"pos\":606207,\"shortLink\":\"<Trello URL>\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":0,\"attachments\":0,\"description\":true,\"due\":null},\"due\":null,\"idChecklists\":[],\"idMembers\":[],\"labels\":[],\"shortUrl\":\"<Trello URL>\",\"subscribed\":false,\"url\":\"<Trello URL>\"},
        {\"id\":\"52d0157f112040e74296404a\",\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-01-10T15:45:03.617Z\",\"desc\":\"A description to get us started.\",\"descData\":null,\"idBoard\":\"526d8e130a14a9d846001d96\",\"idList\":\"526d8e130a14a9d846001d97\",\"idMembersVoted\":[],\"idShort\":28,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"name\":\"My New Card\",\"pos\":622591,\"shortLink\":\"<Trello URL>\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":0,\"attachments\":0,\"description\":true,\"due\":null},\"due\":null,\"idChecklists\":[],\"idMembers\":[],\"labels\":[],\"shortUrl\":\"<Trello URL>\",\"subscribed\":false,\"url\":\"<Trello URL>\"}
      ]"
  recorded_at: Tue, 14 Jan 2014 20:04:06 GMT
recorded_with: VCR 2.8.0
