---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96/actions
    body:
      encoding: UTF-8
      string: filter=commentCard
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392671316838'
      Content-Type:
      - application/json
      Etag:
      - "\"1935856682\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"52f536637c89eee46a96a268\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"Troo
        App\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"OMnSslgP\",\"idShort\":27,\"name\":\"My
        New Card\",\"id\":\"52cb0eb873b2cf2f3a60a973\"},\"text\":\"This is a comment.\"},\"type\":\"commentCard\",\"date\":\"2014-02-07T19:39:15.079Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}}]"
  recorded_at: Mon, 17 Feb 2014 21:08:36 GMT
recorded_with: VCR 2.8.0
