---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729849939'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8e130a14a9d846001d96\",\"name\":\"Troo App\",\"desc\":\"\",\"descData\":null,\"closed\":false,\"idOrganization\":null,\"pinned\":true,\"url\":\"<Trello
        URL>\",\"shortUrl\":\"<Trello URL>\",\"prefs\":{\"permissionLevel\":\"private\",\"voting\":\"disabled\",\"comments\":\"members\",\"invitations\":\"members\",\"selfJoin\":false,\"cardCovers\":true,\"cardAging\":\"regular\",\"background\":\"blue\",\"backgroundColor\":\"#205C7E\",\"backgroundImage\":null,\"backgroundImageScaled\":null,\"backgroundTile\":false,\"backgroundBrightness\":\"unknown\",\"canBePublic\":true,\"canBeOrg\":true,\"canBePrivate\":true,\"canInvite\":true},\"labelNames\":{\"yellow\":\"Analysis
        Complete\",\"red\":\"\",\"purple\":\"\",\"orange\":\"\",\"green\":\"Ready
        to Pull\",\"blue\":\"\"}}"
  recorded_at: Tue, 14 Jan 2014 20:04:09 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96/actions?filter=commentCard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729850639'
      Content-Type:
      - application/json
      Etag:
      - "\"2003759818\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"52d5982eb49a4d207519a16b\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"Troo
        App\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My
        Test Card\",\"id\":\"526d8f19ddb279532e005259\"},\"text\":\"Some much needed
        feedback...\"},\"type\":\"commentCard\",\"date\":\"2014-01-14T20:03:58.448Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}},{\"id\":\"52d1c343586948301667db1f\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"Troo
        App\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My
        Test Card\",\"id\":\"526d8f19ddb279532e005259\"},\"text\":\"Some much needed
        feedback...\"},\"type\":\"commentCard\",\"date\":\"2014-01-11T22:18:43.943Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}}]"
  recorded_at: Tue, 14 Jan 2014 20:04:09 GMT
recorded_with: VCR 2.8.0
