---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729851384'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8e130a14a9d846001d97\",\"name\":\"To Do\",\"closed\":false,\"idBoard\":\"526d8e130a14a9d846001d96\",\"pos\":311296}"
  recorded_at: Tue, 14 Jan 2014 20:04:10 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d97/actions?filter=commentCard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729852037'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 14 Jan 2014 20:04:11 GMT
recorded_with: VCR 2.8.0
