---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729852700'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8f19ddb279532e005259\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":8,\"attachments\":0,\"description\":false,\"due\":null},\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-01-14T20:04:00.195Z\",\"desc\":\"\",\"descData\":null,\"due\":null,\"idBoard\":\"526d8e130a14a9d846001d96\",\"idChecklists\":[],\"idList\":\"526d8e130a14a9d846001d98\",\"idMembers\":[\"5195fdb5a8c01a2318004f5d\"],\"idShort\":8,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"labels\":[{\"color\":\"green\",\"name\":\"Ready to Pull\"},{\"color\":\"yellow\",\"name\":\"Analysis Complete\"}],\"name\":\"My Test Card\",\"pos\":589823,\"shortUrl\":\"<Trello URL>\",\"url\":\"<Trello URL>\"}"
  recorded_at: Tue, 14 Jan 2014 20:04:11 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/actions?filter=commentCard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729853415'
      Content-Type:
      - application/json
      Etag:
      - "\"2003759818\""
    body:
      encoding: UTF-8
      string: "[
        {\"id\":\"52d5982eb49a4d207519a16b\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"Troo App\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My Test Card\",\"id\":\"526d8f19ddb279532e005259\"},\"text\":\"Some much needed feedback...\"},\"type\":\"commentCard\",\"date\":\"2014-01-14T20:03:58.448Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}},
        {\"id\":\"52d5982eb49a4d207519a16b\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"Troo App\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My Test Card\",\"id\":\"526d8f19ddb279532e005259\"},\"text\":\"Some much needed feedback...\"},\"type\":\"commentCard\",\"date\":\"2014-01-14T20:03:58.448Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}}
        ]"
  recorded_at: Tue, 14 Jan 2014 20:04:12 GMT
recorded_with: VCR 2.8.0
