---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/actions
    body:
      encoding: UTF-8
      string: filter=commentCard
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392671318289'
      Content-Type:
      - application/json
      Etag:
      - "\"-1319367248\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"52f51fb0b6e6b1fb2de2949e\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"Troo
        App\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My
        Test Card\",\"id\":\"526d8f19ddb279532e005259\"},\"text\":\"This is a comment.\"},\"type\":\"commentCard\",\"date\":\"2014-02-07T18:02:24.297Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}}]"
  recorded_at: Mon, 17 Feb 2014 21:08:38 GMT
recorded_with: VCR 2.8.0
