---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards/20020/actions/comments
    body:
      encoding: UTF-8
      string: text=Some%20much%20needed%20feedback...
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"20030\",\"idMemberCreator\":\"20050\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"My
        Test Board\",\"id\":\"20010\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My
        Test Card\",\"id\":\"20020\"},\"text\":\"My Test Comment\"},\"type\":\"commentCard\",\"date\":\"2014-02-07T18:02:24.297Z\",\"memberCreator\":{\"id\":\"20050\",\"avatarHash\":\"20001\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}}"
  recorded_at: Fri, 21 Feb 2014 19:12:13 GMT
recorded_with: VCR 2.8.0
