---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards
    body:
      encoding: US-ASCII
      string: name=My%20New%20Card&desc=A%20description%20to%20get%20us%20started.&idList=526d8e130a14a9d846001d97
    headers:
      Authorization:
      - "<OAuth Credentials>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729837565'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"52d5982df33f99314641a271\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":0,\"attachments\":0,\"description\":true,\"due\":null},\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-01-14T20:03:57.454Z\",\"desc\":\"A
        description to get us started.\",\"descData\":{\"emoji\":{}},\"due\":null,\"idBoard\":\"526d8e130a14a9d846001d96\",\"idChecklists\":[],\"idList\":\"526d8e130a14a9d846001d97\",\"idMembers\":[],\"idShort\":33,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"labels\":[],\"name\":\"My
        New Card\",\"pos\":704511,\"shortUrl\":\"<Trello URL>\",\"url\":\"<Trello
        URL>\"}"
  recorded_at: Tue, 14 Jan 2014 20:03:56 GMT
recorded_with: VCR 2.8.0
