---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards
    body:
      encoding: US-ASCII
      string: name=My%20New%20Board&desc=A%20very%20brief%20description...
    headers:
      Authorization:
      - "<OAuth Credentials>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729836696'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"52d5982c68f398246f1e3d1e\",\"name\":\"My New Board\",\"desc\":\"A
        very brief description...\",\"descData\":null,\"closed\":false,\"idOrganization\":null,\"pinned\":true,\"url\":\"<Trello
        URL>\",\"shortUrl\":\"<Trello URL>\",\"prefs\":{\"permissionLevel\":\"private\",\"voting\":\"disabled\",\"comments\":\"members\",\"invitations\":\"members\",\"selfJoin\":false,\"cardCovers\":true,\"cardAging\":\"regular\",\"background\":\"blue\",\"backgroundColor\":\"#205C7E\",\"backgroundImage\":null,\"backgroundImageScaled\":null,\"backgroundTile\":false,\"backgroundBrightness\":\"unknown\",\"canBePublic\":true,\"canBeOrg\":true,\"canBePrivate\":true,\"canInvite\":true},\"labelNames\":{\"red\":\"\",\"orange\":\"\",\"yellow\":\"\",\"green\":\"\",\"blue\":\"\",\"purple\":\"\"}}"
  recorded_at: Tue, 14 Jan 2014 20:03:55 GMT
recorded_with: VCR 2.8.0
