---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/actions/comments
    body:
      encoding: UTF-8
      string: text=Some%20much%20needed%20feedback...
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"51f9277b2822b8654f0023af\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"board\":{\"shortLink\":\"a3RnYKnD\",\"name\":\"My
        Test Board\",\"id\":\"526d8e130a14a9d846001d96\"},\"card\":{\"shortLink\":\"UJBK7pil\",\"idShort\":8,\"name\":\"My
        Test Card\",\"id\":\"526d8f19ddb279532e005259\"},\"text\":\"My Test Comment\"},\"type\":\"commentCard\",\"date\":\"2014-02-07T18:02:24.297Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"}}"
  recorded_at: Fri, 21 Feb 2014 19:12:13 GMT
recorded_with: VCR 2.8.0
