---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/lists
    body:
      encoding: US-ASCII
      string: name=My%20New%20List&closed=false&idBoard=526d8e130a14a9d846001d96
    headers:
      Authorization:
      - "<OAuth Credentials>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729839524'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"52d5982f59cba13377bfed33\",\"name\":\"My New List\",\"closed\":false,\"idBoard\":\"526d8e130a14a9d846001d96\",\"pos\":256}"
  recorded_at: Tue, 14 Jan 2014 20:03:58 GMT
recorded_with: VCR 2.8.0
