---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/actions/comments
    body:
      encoding: US-ASCII
      string: text=Some%20much%20needed%20feedback...
    headers:
      Authorization:
      - "<OAuth Credentials>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729838483'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"52d5982eb49a4d207519a16b\",\"idMemberCreator\":\"5195fdb5a8c01a2318004f5d\",\"data\":{\"text\":\"Some
        much needed feedback...\",\"textData\":{\"emoji\":{}},\"card\":{\"id\":\"526d8f19ddb279532e005259\",\"name\":\"My
        Test Card\",\"idShort\":8,\"shortLink\":\"UJBK7pil\"},\"board\":{\"id\":\"526d8e130a14a9d846001d96\",\"name\":\"Troo
        App\",\"shortLink\":\"a3RnYKnD\"}},\"type\":\"commentCard\",\"date\":\"2014-01-14T20:03:58.448Z\",\"memberCreator\":{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"fullName\":\"Gavin
        Laking\",\"initials\":\"GL\",\"username\":\"gavinlaking1\"},\"entities\":[{\"type\":\"member\",\"id\":\"5195fdb5a8c01a2318004f5d\",\"text\":\"Gavin
        Laking\"},{\"type\":\"text\",\"text\":\"on\",\"hideIfContext\":true,\"idContext\":\"526d8f19ddb279532e005259\"},{\"type\":\"card\",\"hideIfContext\":true,\"shortLink\":\"UJBK7pil\",\"id\":\"526d8f19ddb279532e005259\",\"text\":\"My
        Test Card\"},{\"type\":\"comment\",\"text\":\"Some much needed feedback...\",\"textHtml\":\"<p>Some
        much needed feedback...</p>\\n\"}]}"
  recorded_at: Tue, 14 Jan 2014 20:03:57 GMT
recorded_with: VCR 2.8.0
