---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="fefbcd38202efec147d1ef25b7fce21c",
        oauth_signature="KAtid0hXvps7gq9g4JPdq9558Jc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384554592", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384554593658'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"526d8f19ddb279532e005259","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":2,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-11-12T21:10:30.111Z","desc":"","descData":null,"due":null,"idBoard":"526d8e130a14a9d846001d96","idChecklists":[],"idList":"526d8e130a14a9d846001d97","idMembers":["5195fdb5a8c01a2318004f5d"],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"lists
        --show <list_id>","pos":589823,"shortUrl":"https://trello.com/c/UJBK7pil","url":"https://trello.com/c/UJBK7pil/8-lists-show-list-id"}'
  recorded_at: Fri, 15 Nov 2013 22:29:53 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/actions?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="1d50e7dab4fb9b0eb96e7a7b9837fe43",
        oauth_signature="U3JIWsRZ6dRqMGIK0Brz%2F%2Byxlfc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384554593", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384554594361'
      Content-Type:
      - application/json
      Etag:
      - '"1182779704"'
    body:
      encoding: UTF-8
      string: '[{"id":"5282994612b45ec711006e1e","idMemberCreator":"5195fdb5a8c01a2318004f5d","data":{"board":{"shortLink":"a3RnYKnD","name":"Trlo
        App","id":"526d8e130a14a9d846001d96"},"card":{"shortLink":"UJBK7pil","idShort":8,"name":"lists
        --show <list_id>","id":"526d8f19ddb279532e005259"},"text":"Another test comment."},"type":"commentCard","date":"2013-11-12T21:10:30.117Z","memberCreator":{"id":"5195fdb5a8c01a2318004f5d","avatarHash":"045fd924d84699c9ba451e181bba33a3","fullName":"Gavin
        Laking","initials":"GL","username":"gavinlaking1"}},{"id":"5282993c7f19edd27a007117","idMemberCreator":"5195fdb5a8c01a2318004f5d","data":{"board":{"shortLink":"a3RnYKnD","name":"Trlo
        App","id":"526d8e130a14a9d846001d96"},"card":{"shortLink":"UJBK7pil","idShort":8,"name":"lists
        --show <list_id>","id":"526d8f19ddb279532e005259"},"text":"This is a test
        comment."},"type":"commentCard","date":"2013-11-12T21:10:20.840Z","memberCreator":{"id":"5195fdb5a8c01a2318004f5d","avatarHash":"045fd924d84699c9ba451e181bba33a3","fullName":"Gavin
        Laking","initials":"GL","username":"gavinlaking1"}},{"id":"52743813f8bb9e4f7300c437","idMemberCreator":"5195fdb5a8c01a2318004f5d","data":{"listAfter":{"name":"To
        Do","id":"526d8e130a14a9d846001d97"},"listBefore":{"name":"Doing","id":"526d8e130a14a9d846001d98"},"board":{"shortLink":"a3RnYKnD","name":"Trlo
        App","id":"526d8e130a14a9d846001d96"},"card":{"shortLink":"UJBK7pil","idShort":8,"name":"lists
        --show <list_id>","id":"526d8f19ddb279532e005259","idList":"526d8e130a14a9d846001d97"},"old":{"idList":"526d8e130a14a9d846001d98"}},"type":"updateCard","date":"2013-11-01T23:24:03.327Z","memberCreator":{"id":"5195fdb5a8c01a2318004f5d","avatarHash":"045fd924d84699c9ba451e181bba33a3","fullName":"Gavin
        Laking","initials":"GL","username":"gavinlaking1"}},{"id":"5274380ad46e32840c00c620","idMemberCreator":"5195fdb5a8c01a2318004f5d","data":{"listAfter":{"name":"Doing","id":"526d8e130a14a9d846001d98"},"listBefore":{"name":"To
        Do","id":"526d8e130a14a9d846001d97"},"board":{"short[...]
