---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="3c75228cbb6423bc893fe27f159a85fc",
        oauth_signature="SmDpb4ep6DIOQcf8J4mN%2BQGJPzA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384550662", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384550662912'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"526d8e130a14a9d846001d96","name":"Trlo App","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":true,"url":"https://trello.com/b/a3RnYKnD/trlo-app","shortUrl":"https://trello.com/b/a3RnYKnD","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","background":"blue","backgroundColor":"#205C7E","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"yellow":"Analysis
        Complete","red":"","purple":"","orange":"","green":"Ready to Pull","blue":""}}'
  recorded_at: Fri, 15 Nov 2013 21:24:23 GMT
recorded_with: VCR 2.7.0
