---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="7a72f1abef95a2dcf868e8a0b54e9bb9",
        oauth_signature="gcVrZ%2F4nfFujEsMSIGbEtt7DHQU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384550663", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384550663751'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"5195fdb5a8c01a2318004f5d","avatarHash":"045fd924d84699c9ba451e181bba33a3","bio":"","bioData":null,"confirmed":true,"fullName":"Gavin
        Laking","idPremOrgsAdmin":[],"initials":"GL","memberType":"normal","products":[],"status":"disconnected","url":"https://trello.com/gavinlaking1","username":"gavinlaking1","avatarSource":"gravatar","email":null,"gravatarHash":"c9c47875936bed67032a12c047b468a8","idBoards":["5195fdb6a8c01a2318004f5f","526d8e130a14a9d846001d96"],"idBoardsInvited":[],"idBoardsPinned":["5195fdb6a8c01a2318004f5f","526d8e130a14a9d846001d96"],"idOrganizations":[],"idOrganizationsInvited":[],"loginTypes":null,"newEmail":null,"oneTimeMessagesDismissed":[],"prefs":{"timezoneInfo":{"timezoneNext":"BST","dateNext":"2014-03-30T01:00:00.000Z","offsetNext":-60,"timezoneCurrent":"GMT","offsetCurrent":0},"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":["Android"],"uploadedAvatarHash":null}'
  recorded_at: Fri, 15 Nov 2013 21:24:23 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/gavinlaking1/boards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="8fb1290e56ece36932f1fa772cfaeab9",
        oauth_signature="K5FHwlxGv42OcJ92Dp1ZwfWKTBw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384550663", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384550664484'
      Content-Type:
      - application/json
      Etag:
      - '"1088713511"'
    body:
      encoding: UTF-8
      string: '[{"id":"526d8e130a14a9d846001d96","name":"Trlo App","desc":"","descData":null,"closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/b/a3RnYKnD/trlo-app","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","background":"blue","backgroundColor":"#205C7E","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"invitations":[],"memberships":[{"id":"526d8e130a14a9d846001d9a","idMember":"5195fdb5a8c01a2318004f5d","memberType":"admin","deactivated":false,"unconfirmed":false}],"shortLink":"a3RnYKnD","subscribed":false,"labelNames":{"yellow":"Analysis
        Complete","red":"","purple":"","orange":"","green":"Ready to Pull","blue":""},"powerUps":[],"dateLastActivity":"2013-11-12T21:10:30.111Z","dateLastView":"2013-11-12T23:18:22.893Z","shortUrl":"https://trello.com/b/a3RnYKnD"},{"id":"5195fdb6a8c01a2318004f5f","name":"Welcome
        Board","desc":"","descData":null,"closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/b/TQzuq3is/welcome-board","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"backgroundColor":"#205C7E","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","bg":"blue","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"invitations":[],"memberships":[{"id":"5195fdb6a8c01a2318004f60","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false,"unconfirmed":false},{"id":"5195fdb6a8c01a2318004f67","idMember":"5195fdb5a8c01a2318004f5d","memberType":"admin","deactivated":false,"unconfirmed":false}],"shortLink":"TQzuq3is","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""},"powerUps":["voting"],"dateLastActivity":"2013-11-01T22:21:04.775Z","dateLastView":"2013-11-02T00:55:38.138Z","shortUrl":"https://trello.com/b/TQzuq3is"}]'
  recorded_at: Fri, 15 Nov 2013 21:24:24 GMT
recorded_with: VCR 2.7.0
