---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/5195fdb5a8c01a2318004f5d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="6ded1f1ac136a937afbc4f0a19ee057c",
        oauth_signature="tvz4NLnT8op0Ul%2FvpYDCoCfmWp0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384554252", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384554253484'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"5195fdb5a8c01a2318004f5d","avatarHash":"045fd924d84699c9ba451e181bba33a3","bio":"","bioData":null,"confirmed":true,"fullName":"Gavin
        Laking","idPremOrgsAdmin":[],"initials":"GL","memberType":"normal","products":[],"status":"disconnected","url":"https://trello.com/gavinlaking1","username":"gavinlaking1","avatarSource":"gravatar","email":null,"gravatarHash":"c9c47875936bed67032a12c047b468a8","idBoards":["5195fdb6a8c01a2318004f5f","526d8e130a14a9d846001d96"],"idBoardsInvited":[],"idBoardsPinned":["5195fdb6a8c01a2318004f5f","526d8e130a14a9d846001d96"],"idOrganizations":[],"idOrganizationsInvited":[],"loginTypes":null,"newEmail":null,"oneTimeMessagesDismissed":[],"prefs":{"timezoneInfo":{"timezoneNext":"BST","dateNext":"2014-03-30T01:00:00.000Z","offsetNext":-60,"timezoneCurrent":"GMT","offsetCurrent":0},"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":["Android"],"uploadedAvatarHash":null}'
  recorded_at: Fri, 15 Nov 2013 22:24:13 GMT
recorded_with: VCR 2.7.0
