---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="a463f4b0bd7e1646bf973f91ff6a0a7d",
        oauth_signature="SkMNqDudrpERD3Kn4fLAeT%2BHg2o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384552749", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384552750022'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"526d8e130a14a9d846001d97","name":"To Do","closed":false,"idBoard":"526d8e130a14a9d846001d96","pos":16384}'
  recorded_at: Fri, 15 Nov 2013 21:59:10 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d97/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="abe2ccfef36803baceb43f1f5b532eb1",
        oauth_signature="vEMHQf9vx%2Blbz%2BrhFyxLwu20Fng%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384552750", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384552750671'
      Content-Type:
      - application/json
      Etag:
      - '"1071199526"'
    body:
      encoding: UTF-8
      string: '[{"id":"526d8f19ddb279532e005259","checkItemStates":[],"closed":false,"dateLastActivity":"2013-11-12T21:10:30.111Z","desc":"","descData":null,"idBoard":"526d8e130a14a9d846001d96","idList":"526d8e130a14a9d846001d97","idMembersVoted":[],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"name":"lists
        --show <list_id>","pos":589823,"shortLink":"UJBK7pil","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":2,"attachments":0,"description":false,"due":null},"due":null,"idChecklists":[],"idMembers":["5195fdb5a8c01a2318004f5d"],"labels":[],"shortUrl":"https://trello.com/c/UJBK7pil","subscribed":true,"url":"https://trello.com/c/UJBK7pil/8-lists-show-list-id"},{"id":"526d8f437e5f35fd5300547e","checkItemStates":[],"closed":false,"dateLastActivity":"2013-11-01T20:56:46.316Z","desc":"","descData":null,"idBoard":"526d8e130a14a9d846001d96","idList":"526d8e130a14a9d846001d97","idMembersVoted":[],"idShort":11,"idAttachmentCover":null,"manualCoverAttachment":false,"name":"config","pos":786431,"shortLink":"XydylYEB","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"idChecklists":[],"idMembers":["5195fdb5a8c01a2318004f5d"],"labels":[],"shortUrl":"https://trello.com/c/XydylYEB","subscribed":true,"url":"https://trello.com/c/XydylYEB/11-config"},{"id":"526d8ea4c983a79e4d00449b","checkItemStates":[{"idCheckItem":"52716f9c90cbe49f3e000250","state":"complete"}],"closed":false,"dateLastActivity":"2013-11-01T18:55:38.394Z","desc":"Shows
        all the lists and cards for a given <board_id>","descData":{"emoji":{}},"idBoard":"526d8e130a14a9d846001d96","idList":"526d8e130a14a9d846001d97","idMembersVoted":[],"idShort":6,"idAttachmentCover":null,"manualCoverAttachment":false,"name":"boards
        --show <board_id>","pos":917503,"shortLink":"0fqIwVYQ","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":2,"checkItemsChecked":1,"comments":0,"attachments":0,"description":true,"due":null},"due":null,"idChecklists":["52716f929de636484200040f"],"idMembers":["5195fdb5a8c01a[...]
