---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="cfd6a1831eebb812a08e9fb7ec755adf",
        oauth_signature="hdlVVArRYhjLIUHXAy4KseqCp8M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384552748", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384552749379'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"526d8f19ddb279532e005259","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":2,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-11-12T21:10:30.111Z","desc":"","descData":null,"due":null,"idBoard":"526d8e130a14a9d846001d96","idChecklists":[],"idList":"526d8e130a14a9d846001d97","idMembers":["5195fdb5a8c01a2318004f5d"],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"lists
        --show <list_id>","pos":589823,"shortUrl":"https://trello.com/c/UJBK7pil","url":"https://trello.com/c/UJBK7pil/8-lists-show-list-id"}'
  recorded_at: Fri, 15 Nov 2013 21:59:09 GMT
recorded_with: VCR 2.7.0
