---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96/lists
    body:
      encoding: UTF-8
      string: filter=open
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392671186125'
      Content-Type:
      - application/json
      Etag:
      - "\"1328980396\""
    body:
      encoding: UTF-8
      string: "[{\"id\":\"52d5982f59cba13377bfed33\",\"name\":\"My New List\",\"closed\":false,\"idBoard\":\"526d8e130a14a9d846001d96\",\"pos\":256,\"subscribed\":false}]"
  recorded_at: Mon, 17 Feb 2014 21:06:25 GMT
recorded_with: VCR 2.8.0
