---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d97
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8e130a14a9d846001d97\",\"name\":\"My Test List\",\"closed\":false,\"idBoard\":\"526d8e130a14a9d846001d96\",\"pos\":32768}"
  recorded_at: Fri, 21 Feb 2014 19:12:14 GMT
recorded_with: VCR 2.8.0
