---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/20050
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"20050\",\"avatarHash\":\"20001\",\"bio\":\"some
        bio\",\"bioData\":null,\"confirmed\":true,\"fullName\":\"Gavin Laking\",\"idPremOrgsAdmin\":[],\"initials\":\"GL\",\"memberType\":\"normal\",\"products\":[],\"status\":\"disconnected\",\"url\":\"<Trello
        URL>\",\"username\":\"gavinlaking1\",\"avatarSource\":\"gravatar\",\"email\":\"gavinlaking@gmail.com\",\"gravatarHash\":\"c9c47875936bed67032a12c047b468a8\",\"idBoards\":[\"20010\"],\"idBoardsInvited\":[],\"idBoardsPinned\":[\"20010\"],\"idOrganizations\":[],\"idOrganizationsInvited\":[],\"loginTypes\":null,\"newEmail\":null,\"oneTimeMessagesDismissed\":[\"newtrelloIntro\"],\"prefs\":{\"timezoneInfo\":{\"timezoneNext\":\"BST\",\"dateNext\":\"2014-03-30T01:00:00.000Z\",\"offsetNext\":-60,\"timezoneCurrent\":\"GMT\",\"offsetCurrent\":0},\"sendSummaries\":true,\"minutesBetweenSummaries\":60,\"minutesBeforeDeadlineToNotify\":1440,\"colorBlind\":false},\"trophies\":[\"Android\"],\"uploadedAvatarHash\":null,\"premiumFeatures\":[]}"
  recorded_at: Fri, 21 Feb 2014 19:12:14 GMT
recorded_with: VCR 2.8.0
