---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96/members
    body:
      encoding: UTF-8
      string: filter=all
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392671729121'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[{\"id\":\"5195fdb5a8c01a2318004f5d\",\"fullName\":\"Gavin Laking\",\"username\":\"gavinlaking1\"}]"
  recorded_at: Mon, 17 Feb 2014 21:15:28 GMT
recorded_with: VCR 2.8.0
