---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/5195fdb5a8c01a2318004f5d
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392671815663'
      Content-Type:
      - application/json
      Etag:
      - "\"-349226057\""
    body:
      encoding: UTF-8
      string: "{\"id\":\"5195fdb5a8c01a2318004f5d\",\"avatarHash\":\"045fd924d84699c9ba451e181bba33a3\",\"bio\":\"\",\"bioData\":null,\"confirmed\":true,\"fullName\":\"Gavin
        Laking\",\"idPremOrgsAdmin\":[],\"initials\":\"GL\",\"memberType\":\"normal\",\"products\":[],\"status\":\"disconnected\",\"url\":\"<Trello
        URL>\",\"username\":\"gavinlaking1\",\"avatarSource\":\"gravatar\",\"email\":null,\"gravatarHash\":\"c9c47875936bed67032a12c047b468a8\",\"idBoards\":[\"5195fdb6a8c01a2318004f5f\",\"526d8e130a14a9d846001d96\",\"52bc953c9e0687876e033f97\",\"52bc958395ba537530017de8\",\"52bde0bb032383625d01a655\",\"52bded8ac13ea0245903b301\",\"52be0f11f6a939a72e011e67\",\"52c0a7169777fc4d0800b445\",\"52c1b00073d9e2dd65011576\",\"52c73ea6de4147771a00355a\",\"52c88181740df45b0f00d8b4\",\"52c881c48267d0703700d9eb\",\"52c8820ef427cacf7b00d647\",\"52c8824cf6d05f166e004f53\",\"52c885cf530fa4b30f00f769\",\"52c885f7d08b9bd97b00d797\",\"52c886224d8eca7f7c00d23a\",\"52c8[...]
