---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729856082'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8e130a14a9d846001d96\",\"name\":\"Troo App\",\"desc\":\"\",\"descData\":null,\"closed\":false,\"idOrganization\":null,\"pinned\":true,\"url\":\"<Trello URL>\",\"shortUrl\":\"<Trello URL>\",\"prefs\":{\"permissionLevel\":\"private\",\"voting\":\"disabled\",\"comments\":\"members\",\"invitations\":\"members\",\"selfJoin\":false,\"cardCovers\":true,\"cardAging\":\"regular\",\"background\":\"blue\",\"backgroundColor\":\"#205C7E\",\"backgroundImage\":null,\"backgroundImageScaled\":null,\"backgroundTile\":false,\"backgroundBrightness\":\"unknown\",\"canBePublic\":true,\"canBeOrg\":true,\"canBePrivate\":true,\"canInvite\":true},\"labelNames\":{\"yellow\":\"Analysis Complete\",\"red\":\"\",\"purple\":\"\",\"orange\":\"\",\"green\":\"Ready to Pull\",\"blue\":\"\"}}"
  recorded_at: Tue, 14 Jan 2014 20:04:15 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/526d8e130a14a9d846001d96/members?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1389729856709'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[{\"id\":\"5195fdb5a8c01a2318004f5d\",\"fullName\":\"Gavin Laking\",\"username\":\"gavinlaking1\"}]"
  recorded_at: Tue, 14 Jan 2014 20:04:15 GMT
recorded_with: VCR 2.8.0
