---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="c33e379394a5f9ebc29fd860ba4fd17d",
        oauth_signature="8DNFnzXbZDfQ45u5yCLhF7%2FgSBU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384559476", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384559477795'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"526d8f19ddb279532e005259","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":3,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-11-15T23:31:42.349Z","desc":"","descData":null,"due":null,"idBoard":"526d8e130a14a9d846001d96","idChecklists":[],"idList":"526d8e130a14a9d846001d97","idMembers":["5195fdb5a8c01a2318004f5d"],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"lists
        --show <list_id>","pos":589823,"shortUrl":"https://trello.com/c/UJBK7pil","url":"https://trello.com/c/UJBK7pil/8-lists-show-list-id"}'
  recorded_at: Fri, 15 Nov 2013 23:51:17 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/526d8e130a14a9d846001d98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="cef3b7db117937ca48fec61739300a3a",
        oauth_signature="NzxM0kVKfoJHxB0U%2FgKA5eTyuqg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384559477", oauth_token="d000b4c5b5202b77c90cdce06829df88dc9567b131e9ba28aa84ff850059d335",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1384559478425'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"526d8e130a14a9d846001d98","name":"Doing","closed":false,"idBoard":"526d8e130a14a9d846001d96","pos":32768}'
  recorded_at: Fri, 15 Nov 2013 23:51:18 GMT
- request:
    method: put
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/idList
    body:
      encoding: US-ASCII
      string: value=526d8e130a14a9d846001d98
    headers:
      Authorization:
      - OAuth oauth_consumer_key="c9094b0383bddbbf9b822b007c615519", oauth_nonce="da5ed9ad42e68c227a19b45118a69701",
        oauth_signature="HLa6DsMAuoyCQvoFMEBwmiMydZo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384559478", oauth_token="d000b4c5b5202b77c90cdce06[...]
