---
http_interactions:
- request:
    method: put
    uri: https://api.trello.com/1/cards/20020/idBoard
    body:
      encoding: UTF-8
      string: idList=20040&value=20010
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"20020\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":10,\"attachments\":0,\"description\":false,\"due\":null},\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-02-13T20:12:46.612Z\",\"desc\":\"some
        description\",\"descData\":null,\"due\":null,\"idBoard\":\"20010\",\"idChecklists\":[],\"idList\":\"526d8e130a14a9d846001d98\",\"idMembers\":[\"20050\"],\"idShort\":67,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"labels\":[{\"color\":\"green\",\"name\":\"Ready
        to Pull\"}],\"name\":\"My Test Card\",\"pos\":589823,\"shortUrl\":\"<Trello
        URL>\",\"url\":\"<Trello URL>\"}"
  recorded_at: Fri, 21 Feb 2014 19:12:13 GMT
recorded_with: VCR 2.8.0
