---
http_interactions:
- request:
    method: put
    uri: https://api.trello.com/1/cards/526d8f19ddb279532e005259/idList
    body:
      encoding: US-ASCII
      string: value=526d8e130a14a9d846001d98
    headers:
      Authorization:
      - "<OAuth Credentials>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1392322366640'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"526d8f19ddb279532e005259\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":10,\"attachments\":0,\"description\":false,\"due\":null},\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-02-13T20:12:46.612Z\",\"desc\":\"\",\"descData\":null,\"due\":null,\"idBoard\":\"526d8e130a14a9d846001d96\",\"idChecklists\":[],\"idList\":\"526d8e130a14a9d846001d98\",\"idMembers\":[\"5195fdb5a8c01a2318004f5d\"],\"idShort\":8,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"labels\":[{\"color\":\"green\",\"name\":\"Ready
        to Pull\"}],\"name\":\"My Test Card\",\"pos\":589823,\"shortUrl\":\"<Trello
        URL>\",\"url\":\"<Trello URL>\"}"
  recorded_at: Thu, 13 Feb 2014 20:12:45 GMT
recorded_with: VCR 2.8.0
