*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
rerun.txt
spec/reports
test/tmp
test/version_tmp
test/support/.trooconf
tmp

logs/*.log
troo.db
tags
test/support/fake_trello/my-server.crt
test/support/fake_trello/my-server.key

test/support/private_remotes/*.json
