default:
  api_url: http://www.example.com
  api_key: some_key
  api_token: some_secret
  api_oauth_token: some_oauth_token
  api_oauth_token_secret: some_oauth_token_secret
  database: 1
  allow_remote: true
  logs: true
test:
  api_url: http://www.example.com
  api_key: some_key
  api_token: some_secret
  api_oauth_token: some_oauth_token
  api_oauth_token_secret: some_oauth_token_secret
  database: 2
  allow_remote: true
  logs: true
