---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/lists
    body:
      encoding: UTF-8
      string: board_id=20010&name=My%20Cucumber%20List
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "20040",
          "name": "My Test List",
          "closed": false,
          "idBoard": "20010",
          "pos": 32768
        }
  recorded_at: Tue, 11 Mar 2014 21:34:35 GMT
recorded_with: VCR 2.8.0
