---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me/boards
    body:
      encoding: UTF-8
      string: filter=open
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{
          "id": "20010",
          "name": "My Test Board",
          "desc": "A very brief description...",
          "descData": null,
          "closed": false,
          "idOrganization": null,
          "pinned": true,
          "url": "<Trello URL>",
          "shortUrl": "<Trello URL>",
          "prefs": {
            "permissionLevel": "private",
            "voting": "disabled",
            "comments": "members",
            "invitations": "members",
            "selfJoin": false,
            "cardCovers": true,
            "cardAging": "regular",
            "background": "blue",
            "backgroundColor": "#23719F",
            "backgroundImage": null,
            "backgroundImageScaled": null,
            "backgroundTile": false,
            "backgroundBrightness": "unknown",
            "canBePublic": true,
            "canBeOrg": true,
            "canBePrivate": true,
            "canInvite": true
          },
          "labelNames": {
            "yellow": "Analysis Complete",
            "red": "",
            "purple": "",
            "orange": "",
            "green": "Ready to Pull",
            "blue": ""
          },
          "cards": [
            {
              "id": "20020",
              "checkItemStates": [],
              "closed": true,
              "dateLastActivity": "2013-10-27T22:10:19.584Z",
              "desc": "",
              "descData": null,
              "idBoard": "20010",
              "idList": "20040",
              "idMembersVoted": [],
              "idShort": 1,
              "idAttachmentCover": null,
              "manualCoverAttachment": false,
              "name": "Command: config",
              "pos": 327679,
              "shortLink": "1G0cGaRV",
              "badges": {
                "votes": 0,
                "viewingMemberVoted": false,
                "subscribed": false,
                "fogbugz": "",
                "checkItems": 0,
                "checkItemsChecked": 0,
                "comments": 0,
                "attachments": 0,
                "description": false,
                "due": null
              },
              "due": null,
              "idChecklists": [],
              "idMembers": [],
              "labels": [],
              "shortUrl": "<Trello URL>",
              "subscribed": false,
              "url": "<Trello URL>"
            },
            {
              "id": "20021",
              "checkItemStates": [],
              "closed": false,
              "dateLastActivity": "2014-02-07T19:39:15.075Z",
              "desc": "A description to get us started.",
              "descData": null,
              "idBoard": "20010",
              "idList": "20040",
              "idMembersVoted": [],
              "idShort": 27,
              "idAttachmentCover": null,
              "manualCoverAttachment": false,
              "name": "My New Card",
              "pos": 606207,
              "shortLink": "OMnSslgP",
              "badges": {
                "votes": 0,
                "viewingMemberVoted": false,
                "subscribed": false,
                "fogbugz": "",
                "checkItems": 0,
                "checkItemsChecked": 0,
                "comments": 1,
                "attachments": 0,
                "description": true,
                "due": null
              },
              "due": null,
              "idChecklists": [],
              "idMembers": [],
              "labels": [],
              "shortUrl": "<Trello URL>",
              "subscribed": false,
              "url": "<Trello URL>"
            }
          ],
          "members": [
            {
              "id": "20050",
              "avatarHash": "20001",
              "initials": "GL",
              "fullName": "Gavin Laking",
              "username": "gavinlaking1",
              "confirmed": true
            }
          ],
          "lists": [
            {
              "id": "20040",
              "name": "My New List",
              "closed": true,
              "idBoard": "20010",
              "pos": 256,
              "subscribed": false
            },
            {
              "id": "20041",
              "name": "My New List",
              "closed": true,
              "idBoard": "20010",
              "pos": 512,
              "subscribed": false
            }
          ]
        }
        ]
  recorded_at: Mon, 24 Mar 2014 19:05:25 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/20010
    body:
      encoding: UTF-8
      string: cards=open&lists=open&members=all
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"20010","name":"My Test Board","desc":"A very brief description...","descData":null,"closed":false,"idO[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/20010/actions
    body:
      encoding: UTF-8
      string: filter=commentCard
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"20010","idMemberCreator":"20050","data":{"board":{"shortLink":"a3RnYKnD","name":"My
        Test Board","id":"20010"},"card":{"shortLink":"UJBK7pil","idShort":8,"name":"My
        Test Card","id":"20020"},"text":"My Test Comment"},"type":"commentCard","date":"2014-02-07T18:02:24.297Z","memberCreator":{"id":"20050","avatarHash":"20001","fullName":"Gavin
        Laking","initials":"GL","username":"gavinlaking1"}}'
  recorded_at: Mon, 24 Mar 2014 19:05:25 GMT
recorded_with: VCR 2.8.0
