---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/20040
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<OAuth Credentials>"
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"20040","name":"My Test List","closed":false,"idBoard":"20010","pos":32768}'
  recorded_at: Tue, 11 Mar 2014 21:20:07 GMT
recorded_with: VCR 2.8.0
